.app {
  background-color: #ececec;
}

.app__signup {
  margin-bottom: 60px;

  display: flex;
  flex-direction: column;
}

.app__signin {
  margin-bottom: 60px;

  display: flex;
  flex-direction: column;
}

.signup__page {
  padding-top: 40vh;
  
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-content: center;
  
  height: 100vh;
  
}

